/********** Template CSS **********/
:root {
    --primary: #009CFF;
    --light: #F3F6F9;
    --dark: #191C24;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

.prdmng-icon-edit,
.prdmng-icon-trash {
    font-size: 32px;
    color: linear-gradient(to right, rgb(1, 114, 175), rgb(116, 254, 189));
}



.td-img-product {
    width: 10%;
}

.img-product {
    width: 120%;
}

.td-action {
    width: 10%;
}

.delete-product .prdmng-icon-trash {
    color: #E76B6B;
    transition: 0.3s ease-in-out;
}

.delete-product .prdmng-icon-trash:hover {
    color: #E51A1A;
    cursor: pointer;
}

.edit-product .prdmng-icon-edit {
    color: #97ACE5;
    transition: 0.3s ease-in-out;
}

.edit-product .prdmng-icon-edit:hover {
    color: #2659E2;
    cursor: pointer;
}


.icon-trash {
    font-size: 32px;
}


/*** Button ***/
.btn {
    transition: .5s;
}

.btn.btn-primary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}


/*** Layout ***/
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    height: 100vh;
    overflow-y: auto;
    background: var(--light);
    transition: 0.5s;
    z-index: 999;
}

.content {
    margin-left: 250px;
    min-height: 100vh;
    background: #FFFFFF;
    transition: 0.5s;
}

@media (min-width: 992px) {
    .sidebar {
        margin-left: 0;
        border-right: 1px solid #eeeeee;
    }

    .sidebar.open {
        margin-left: -250px;
    }

    .content {
        width: calc(100% - 250px);
    }

    .content.open {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 991.98px) {
    .sidebar {
        margin-left: -250px;
        border-right: 1px solid #eeeeee;
    }

    .sidebar.open {
        margin-left: 0;
    }

    .content {
        width: 100%;
        margin-left: 0;
    }
}


/*** Navbar ***/
.sidebar .navbar .navbar-nav .nav-link {
    padding: 7px 20px;
    color: var(--dark);
    font-weight: 500;
    border-left: 3px solid var(--light);
    border-radius: 0 30px 30px 0;
    outline: none;
}

.sidebar .navbar .navbar-nav .nav-link:hover,
.sidebar .navbar .navbar-nav .nav-link.active {
    color: var(--primary);
    background: #FFFFFF;
    border-color: var(--primary);
}

.sidebar .navbar .navbar-nav .nav-link i {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 6px;
    background: #FFFFFF;
    border-radius: 40px;
}

.sidebar .navbar .navbar-nav .nav-link:hover i,
.sidebar .navbar .navbar-nav .nav-link.active i {
    background: var(--light);
}

.sidebar .navbar .dropdown-toggle::after {
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: .5s;
}

.sidebar .navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

.sidebar .navbar .dropdown-item {
    padding-left: 25px;
    border-radius: 0 30px 30px 0;
}

.content .navbar .navbar-nav .nav-link {
    margin-left: 25px;
    padding: 12px 0;
    color: var(--dark);
    outline: none;
}

.content .navbar .navbar-nav .nav-link:hover,
.content .navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

.content .navbar .sidebar-toggler,
.content .navbar .navbar-nav .nav-link i {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border-radius: 40px;
}

/* .content .navbar .dropdown-toggle::after {
    margin-left: 6px;
    vertical-align: middle;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: .5s;
} */

.content .navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

@media (max-width: 575.98px) {
    .content .navbar .navbar-nav .nav-link {
        margin-left: 15px;
    }
}


/*** Date Picker ***/
.bootstrap-datetimepicker-widget.bottom {
    top: auto !important;
}

.bootstrap-datetimepicker-widget .table * {
    border-bottom-width: 0px;
}

.bootstrap-datetimepicker-widget .table th {
    font-weight: 500;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    padding: 10px;
    border-radius: 2px;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
    background: var(--primary);
}

.bootstrap-datetimepicker-widget table td.today::before {
    border-bottom-color: var(--primary);
}


/*** Testimonial ***/
.progress .progress-bar {
    width: 0px;
    transition: 2s;
}


/*** Testimonial ***/
.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 5px solid var(--primary);
    border-radius: 15px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--dark);
    border-color: var(--primary);
}

/* product */
.image_product {
    width: 18%;
    margin-left: 15px;
    width: 100px;
    height: 100px;
    border: 1px dashed #dbdbdb;
    position: relative;
    padding: 5px;
}

.product-item {
    background-color: #fff;
    text-align: center;
}

.nav-item {
    position: relative;
}

.nav-item:hover .dropdown-menu {
    display: block;

}

/* =============================================== */

.detail_product {
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.product_info {
    text-align: center;
}

#product-item {
    text-align: center;
}

.profile {
    padding-top: 5px;
    display: flex;
    border-radius: 10px;
    padding: 5px 10px;
    text-align: center;

    justify-content: space-between;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.sub_profile {
    display: flex;
}

.title_profile {
    font-weight: bold;
}

.order_product {

    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    border-radius: 6px;
}

.order_product .title_order_product {
    /* justify-content: center; */
    font-weight: bold;
    text-align: center;
    padding: 3px 186px;
    /* align-items: center; */
}

.detail {
    display: flex;
    padding: 5px 20px;
    justify-content: space-between;
}

.sp {
    justify-content: center;
}

.img_pro {
    height: 60px;
    width: 60px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;

}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #1cdb6c;
}

input:focus+.slider {
    box-shadow: 0 0 1px #1cdb6c;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.mySelect {
    height: 30px;
}
.disable-vertical{
    vertical-align: unset !important;
}
.time span{
    margin-right: 50px;
}
.select_tg{
    border-radius: 38px;
}

.search-order-admin{
    background-color: #fff;
    width: 24%;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid;
}

/* trash user */
.button-restore{
    text-decoration: underline;
}

.button-restore:hover{
    cursor: pointer;
}

.tr-title-table {
    text-align: center;
}

.disable-vertical {
    vertical-align: unset !important;
}

.form-edit-product {
    position: relative;
    width: 800px;
    padding: 5px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    height: 550px;
}

.form-add-product {
    position: relative;
    width: 480px;
    padding: 5px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    height: 530px;
}

.lb,
.iput {
    display: block;
    /* margin-bottom: 5px; */
}

.btn-update {
    height: 34px;
    width: 118px;
    background-color: #a96af2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}

.complete {
    width: 100%;
}

.btn-update:hover {
    background-color: #8b34ee;
}

.btn-update-close {
    position: absolute;
    top: 5px;
    right: 20px;
    font-size: 20px;
    transition: 0.3s ease-in-out;
}

.btn-update-close:hover {
    color: #E51A1A;
    cursor: pointer;
}

.update-product-overlay,
.add-product-overlay {
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    /* pointer-events: none; */
    z-index: 2100;
}

.update-product-overlay.active,
.add-product-overlay.active {
    display: flex;
}

.iput {
    height: 17px;
    width: 100%;
}

.textarea {
    color: #626262;
}

.update-wapper {
    display: flex;
}


.update-right {
    width: 60%;
    padding-top: 9px;
    padding-bottom: 5px;
}

.update-left {
    width: 40%;
}

.update-left .iput {
    height: 17px;
    width: 287px;
}

.update-right .iput1 {
    height: 17px;
    width: 462px;
}

.update-img {
    display: flex;
    align-items: center;
}

.update_image {
    height: auto;
}

.update-left option {
    font-size: 12px;
}

.update-left .category {
    font-size: 12px;
    border-top: 0.667px;
}

.iput.quantity {
    pointer-events: none;
}

.add-left .iput {
    height: 28px;
}

.add-wapper .btn-add {
    width: 100%;
    margin-top: 42px;
    height: 34px;
    background-color: #a96af2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}

.btn-add:hover {
    background-color: #8b34ee;
}

.btn-add-img:hover {
    background-color: #8b34ee;
}

.btn-add-img {
    width: 20%;
    height: 34px;
    background-color: #a96af2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}

.add-img {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.add-left label {
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
}

.iput1 {
    height: 27px;
    display: block;
    width: 100%;
}

.priceandquantity {
    display: flex;
    margin-top: 22px
}
.form-edit-user {
    position: relative;
    width: 37%;
    padding: 5px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    height: 400px;
}

.form-add-user {
    position: relative;
    width: 37%;
    padding: 5px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    height: 400px;
}

.update-user-wapper {
    display: block;
    margin-top: 45px;
}

.add-user-wapper {
    display: block;
    margin-top: 45px;
}

.form-add-user {
    position: relative;
    width: 480px;
    padding: 5px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    height: 530px;
}
.btn-update-user {
    height: 34px;
    width: 118px;
    background-color: #a96af2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    margin-top: 75px;
}

.btn-add-user {
    height: 34px;
    width: 118px;
    background-color: #a96af2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    margin-top: 75px;
}

.searchUser {
    background-color: #fff;
    width: 53%;
    margin-right: 20px;
    height: 30px;
    margin-top: 3px;
}

.wappper-search {
    width: 75%;
    display: flex;
}

#btn-search {
    margin-right: 10px;
}
.update-user-overlay,
.add-user-overlay {
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    /* pointer-events: none; */
    z-index: 2100;
}

.update-user-overlay.active,
.add-user-overlay.active {
    display: flex;
}
.iputuser {
    height: 30px;
    width: 100%;
    font-size: 16px;
}

.lbuser {
    font-size: 17px;
    font-weight: bold;
}
.user-pagination {
    text-align: center;
}

.page-Index {
    margin: 10px;
}

.col-name {
    width: 134px;
}

.col-author {
    width: 112px;
}

.btndel {
    margin-right: 10px;
.body-business-situation{
    background-color: #fff;
}
.body-business-situation tr td{
    padding: 6px;
}

#since-business,
#to-date-business{
    width: 64%;

}

.business-situation{
    width: 70%;
}


.business-situation-wrap{
    padding: 20px 10px;
    min-height: 326px;
}

.since,
.to-date{
    background-color: #fff;
    padding: 8px 6px;
}

.selling-product tr td img{
    width: 100%;
}

.selling-product tr td span{
    font-size: 14px;
}

.selling-product tr td:first-child{
    width: 10%;
}

.selling-product tr{
    background-color: #fff;
}